<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RD007 - TCN Rice Database</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Style -->
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<!-- JS -->
		<script src="{{ STATIC_URL }}js/jquery-2.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/select2.js"></script>
		<script src="{{ STATIC_URL }}js/application.js"></script>
	</head>
	<body>
		<div id="logo"><i class="icon-double-angle-up icon-4x"></i></div><!-- #logo -->
		<div class="content" id="blur2">
			<header class="wrap">
				<nav>
					<ul>
						<li><a href="/">TCN Rice Suggestion</a></li>
					</ul>
				</nav>
			</header><!-- header -->
			<div id="feature">
			</div><!-- .feature -->
		</div><!-- #blur2 -->
		<div class="rice">
			<div class="container">
				<h1>{{rice.name}}</h1>
				<div class="img-center">
					<img src="http://kkn-rsc.ricethailand.go.th/rice/pedigree/01-pic/RD5.gif" class="img-polaroid" align="middle">
				</div>
				<div id="des">
					<div class="row-fluid">
						<div class="span5" style="margin-left: 0">
							<p><strong>Name:</strong>&nbsp;&nbsp;{{rice.name}}</p>
							<p><strong>ID:</strong>&nbsp;&nbsp;{{rice.id}}</p>
							<p><strong>Kind:</strong>&nbsp;&nbsp;{{rice.kind}}</p>
							<p><strong>Area:</strong>&nbsp;&nbsp;{{rice.area}}</p>
							<p><strong>Terrain:</strong>&nbsp;&nbsp;{{rice.terrain}}</p>
						</div>
						<div class="span7">
							<p><strong>Characteristic:</strong>&nbsp;&nbsp;{{ rice.character }}</p>
							<p><strong>Seed:</strong>&nbsp;&nbsp;{{ rice.seed }}</p>
							<p><strong>Detail:</strong>&nbsp;&nbsp;{{ rice.detail }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<h5>TCN Rice Expert, Rice Variety Suggestion: Developed by TCN</h5>
				<p><small>Kanokphol Techarattanaprasert 5410545915 | Pawis Chairoj 5410546237</small></p>
				<p><small>Chanon Khamronyutha 5410546041 | Kunat Pipatanakul 5410545982</small></p>
				<p><small>Tanachot 5410547624 | and Suphanat 5410547128</small></p>
			</div>
		</footer>
	</body>
</html>